{
    "presets": [["@babel/env", {
        "targets": {
            "chrome": "44",
            "ie": "11"
        },
        "useBuiltIns": "entry",
        "corejs": { 
            "version": 3, 
        }
    }]],
    "plugins": [
        ["module:mopt"]
    ]
}