{
    "presets": [["@babel/env", {
        "targets": {
            "chrome": "44",
            "ie": "11"
        },
        "useBuiltIns": "entry"
    }]],
    "plugins": [
        ["module:mopt"]
    ]
}