{
    "presets": [["@babel/env", {
        "targets": {
            "chrome": "44",
            "ie": "11"
        },
        "exclude": ["web.url", "es.string.split"],
        "useBuiltIns": "usage",
        "corejs": { 
            "version": 3, 
            "proposals": true
        }
    }]],
    "plugins": [
        "module:mopt"
    ]
}