.br-dialog {
    position: relative;
    cursor: default;
    width: auto;
    max-width: 500px;
    height: auto;
    background: rgba($color: $primaryBackground, $alpha: 0.95);
    border: 1px solid $primaryForeground;
    border-radius: 1px;
    padding: 15px;
    margin: auto;
    margin-top: $top-bar-height + 20px;
    display: inline-block;
    z-index: $z-index_menu + 1;

    @media (max-width: 600px) {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 24px;
        text-align: center;
    }

    span {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    button {
        margin: 0 5px;
        cursor: pointer;
        padding: 5px;
        border-radius: 3px;
        border: 1px solid $primaryForeground;
        background: darken($primaryBackground, 10%);
        color: $primaryForeground;
        outline: none;

        flex: auto;

        @include shadow_hover();
    }

    &__container {
        background: rgba($color: #000, $alpha: 0.3);
        cursor: pointer;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $z-index_menu;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: center;
    }

    text-align: left;

    .br-form {
        &__input {
            display: flex;
            margin-top: 12px;

            @media (max-width: 600px) {
                display: block;
            }

            &__label {
                margin: auto 0;
                width: 100px;
                margin-right: 16px;

                @media (max-width: 600px) {
                    margin-bottom: 6px;
                }
            }

            &__options {
                display: inline-flex;
                white-space: nowrap;
                background-color: $primaryBackground;
                border-radius: 3px;
                overflow: hidden;

                &__input:checked + label {
                    color: $secondaryBackground;
                    background-color: lighten($secondaryForeground, 20%);
                }

                &__input {
                    display: none;
                }

                &__label {
                    padding: 9px 8px 9px 8px;
                    cursor: pointer;
                    //transition: all 0.15s ease;
                    border: 1px solid $primaryForeground;

                    transition: all .1s ease;
                    @include shadow_hover();

                    &:active {
                        color: $tertiaryForeground;
                        background-color: $tertiaryBackground;
                    }
                }
            }
        }
    }
}