@mixin br-dialog-clickable {
    border: 1px solid $primaryForeground;
    transition: all .1s ease;
    border-radius: 3px;
    cursor: pointer;
}

.br-dialog {
    position: relative;
    cursor: default;
    width: auto;
    max-width: 500px;
    height: auto;
    background: rgba($color: $primaryBackground, $alpha: 0.95);
    border: 1px solid $primaryForeground;
    border-radius: 1px;
    padding: 15px;
    margin: auto;
    margin-top: $top-bar-height + 20px;
    display: inline-block;
    z-index: $z-index_menu + 1;

    @media (max-width: 600px) {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    @media (max-width: 335px) {
        padding: 5px;
    }

    &.nopad {
        padding: 0;
    }

    button {
        outline: none;
        @include br-dialog-clickable;
    }

    h1 {
        font-size: 24px;
        text-align: center;
    }

    span {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    iframe {
        min-width: 350px;
        min-height: 300px;
        overflow: hidden;

        @media (max-width: 385px) {
            min-width: 280px;
        }
    }

    &__action {
        margin: 0 5px;
        padding: 5px;
        background: darken($primaryBackground, 10%);
        color: $primaryForeground;
        flex: auto;
        @include shadow_hover;
    }

    &__container {
        background: rgba($color: #000, $alpha: 0.3);
        cursor: pointer;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $z-index_menu;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: center;
    }

    text-align: left;

    .br-form {
        &__input {
            display: flex;
            margin-top: 12px;

            @media (max-width: 600px) {
                display: block;
            }

            &-label {
                margin: auto 0;
                width: 100px;
                margin-right: 16px;

                @media (max-width: 600px) {
                    margin-bottom: 6px;
                }
            }

            &-spinner {
                //padding: 5px;
                font-size: large;
                flex: auto;
                width: 5.5em;

                &.buttons {
                    display: inline-flex;
                }

                &.label {
                    margin: auto 0;
                }

                &.positive, &.negative {
                    @include hover;
                    background: $primaryBackground;
                    text-rendering: optimizeLegibility;
                    -webkit-font-smoothing: antialiased;
                    font-weight: lighter;

                    display: block;
                    font-size: 50px;
                    height: 0.8em;
                    line-height: 0;

                    &:active {
                        color: $tertiaryForeground;
                        background-color: $tertiaryBackground;
                    }
                }

                &.negative {
                    border-radius: 3px 0 0 3px;
                }

                &.positive {
                    border-radius: 0 3px 3px 0;
                }
            }

            &-dropdown {
                font-size: inherit;
                padding: 9px 8px 9px 8px;
                @include br-dialog-clickable;
                @include hover;
            }

            &-radio {
                display: inline-flex;
                white-space: nowrap;
                background-color: $primaryBackground;
                border-radius: 3px;
                overflow: hidden;

                &__input:checked + label {
                    color: $secondaryBackground;
                    background-color: lighten($secondaryForeground, 20%);
                }

                &__input {
                    display: none;
                }

                &__label {
                    padding: 9px 8px 9px 8px;
                    @include br-dialog-clickable;
                    border-radius: 0; // Override clickable style
                    @include shadow_hover;

                    &:active {
                        color: $tertiaryForeground;
                        background-color: $tertiaryBackground;
                    }
                }
            }
        }
    }
}