

.br-guide {
    position: fixed;
    width: $guide-size;
    height: $guide-size;
    top: 50%;
    left: 50%;
    margin: calc(1*-1*$guide-size/2) 0 0 calc(1*-1*$guide-size/2);
    padding-top: $guide-size - 25;
    box-sizing: border-box;
    font-size: 12px;
    text-align: center;
    color: $primaryForeground;
    border: 1px solid $tertiaryBackground;
    border-radius: 4px;
    z-index: 1000;
    background-color: rgba($primaryBackground, 0.95);//rgba(0, 0, 0, 0.95);//rgba($primaryBackground, 0.95);
    background-repeat: no-repeat;
    background-position: center 10px;
    pointer-events: none;
    &__rtl, &__ltr {
        background-position: center 25px;
        background-size: 110px 71px;
    }
    &__rtl {
        background-image: url("../img/horizontal_rtl.svg");
    }
    &__ltr {
        background-image: url("../img/horizontal_ltr.svg");
    }
    &__ttb {
        background-image: url("../img/vertical.svg");
        background-size: 70px 96px;
    }
}