$colorTrack: darken($secondaryBackground, 20%) !default;
$colorThumb: lighten($secondaryForeground, 10%) !default;
$h: 1.2em;
$w: calc(100% - 160px);

@mixin thumb() {
    border: none;
    border-radius: 50%;
    box-sizing: border-box;
    //border: (solid .35em transparent) 0 (solid .25em transparent);
    //border: solid 1px $colorThumb;
    border: 0;
    width: $h + .5em;
    height: $h + .5em;
    background: $colorThumb;
    background-clip: content-box;
    position: relative;
    
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,.4);

    //margin-top: -0.25em;
    margin-left: .05em;
    cursor: pointer;

    @include hover();

    &:active {
        box-shadow: 1px 1px 3px 0 rgba(0,0,0,.8);
    }
}


.br-slider {
    //top: 8px;
    margin: 0 auto;
    display: block;
    padding: 0;
    background: transparent;
    font-size: 1em;
    cursor: pointer;
    width: $w;
    height: $h;
    background: ( radial-gradient(circle at calc($h/2) 50%, $colorTrack .3125em, $colorTrack .3125em, $colorTrack calc($h/2), transparent calc($h/2)), linear-gradient(90deg, transparent 0, $colorTrack 0) repeat-x 0 50%);
    position: relative;
    background-size: 0% 1.2em, 100% 0.5em;
    border-radius: 1px;
    &,
    &::-webkit-slider-runnable-track,
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
    }
    &:before {
        content: "";
        position: absolute;
        z-index: 0;
        left: .2em;
        right: .2em;
        box-sizing: border-box;
    }
    &::-ms-track {
        border: none;
        color: transparent;
    }
    &::-webkit-slider-thumb {
        @include thumb();
    }
    &::-moz-range-thumb {
        @include thumb();
    }
    &::-ms-thumb {
        @include thumb();
    }
    &::-ms-tooltip {
        display: none
    }
    &:focus {
        outline: none;
    }
    
    &__lgo, &__rgo {
        color: $colorTrack;
        font-size: 12px;
        padding: 0 16px;

        & a {
            color: $secondaryForeground;
        }
    }
    
    &__lgo:before, &__rgo:before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        margin-top: -4px;
        border: 4px solid transparent;
    }

    &__lgo {
        padding-right: 8px;

        &:before {
            //left: 4px;
            margin-left: -12px;
            border-right-color: darken($colorTrack, 30%);
        }
    }

    &__rgo {
        padding-left: 8px;

        &:before {
            //right: 4px;
            margin-left: 30px; // TODO fine-tune sync with lgo
            border-left-color: darken($colorTrack, 30%);
        }
    }
    
    &__pagenum, &__pagenum-last {
        font-size: 10px;
        color: darken($colorTrack, 50%);
        margin-top: 4px;
    }
    
    &__pagenum {
        min-width: 25px;
        cursor: pointer;

        @media (max-width: 699px) {
            & {
                min-width: 15px;
            }
        }
    }
}

@media screen and (max-width: 980px) {
    .br-slider {
        &__lgo {
            padding-right: 3px;
        }
        
        &__rgo {
            padding-left: 3px;
        }
    }
}