.br-error__container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    color: $tertiaryForeground;
    user-select: text;

    & h1 {
        font-size: 5em;
    }

    & p {
        font-size: 2em;
    }

    & span {
        font-size: 0.8em;
        line-height: 1.5em;
    }
}